{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    <textarea name="message" required></textarea>
    
    <label for="communication_method">Choose communication method:</label>
    <select name="communication_method" required>
      <option value="email">Email</option>
      <option value="sms">SMS</option>
      <option value="whatsapp">WhatsApp</option>
    </select>
    
    <button type="submit">Send</button>
  </form>

  <!-- Email link using mailto -->
  <a href="mailto:{{ property_detail.owners.email }}?subject=Inquiry about {{ property_detail.name }}&body={{ user.username }} says: I am interested in your property.">Send Email to Owner</a>
{% else %}
  <p>You need to <a href="{% url 'login' %}">log in</a> to send a message.</p>
{% endif %}


{% endblock %}
