{% extends 'base.html' %}

{% block content %}
<title> Property Search </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding: 20px;
    }
    .form-container {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
</style>

<div class="form-container">
    <h2 class="text-center">Property Search</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Render the form with crispy forms -->
        {{ form |crispy }}

        <button type="submit" class="btn btn-primary btn-block">Search Properties</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
