{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <!-- User Profile Image -->
            {% if UserDetails.images %}
                <img style="height: 200px; width:200px;" src="{{ UserDetails.images.url }}" alt="Profile Picture" class="img-fluid rounded-circle">
            {% else %}
                no image
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- User Details -->
            <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                <li class="list-group-item"><strong>Phone:</strong> {{ UserDetails.phone }}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ UserDetails.address }}</li>
            </ul>
            <br>
             <!-- Edit Profile and Logout Buttons -->
             <div class="d-flex">
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                <a href="{% url 'edit_user_details' %}" class="btn btn-primary ms-3">Edit Profile</a>
            </div>
            
        </div>
    </div>
</div>
<br>
{% endblock %}
